# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
env/
ENV/

# =========================
# Environment / Secrets
# =========================

.env
.env.*
!.env.example

# =========================
# Testing
# =========================

.pytest_cache/
.coverage
htmlcov/
.coverage.*

# =========================
# Type check / linters
# =========================

.mypy_cache/
.ruff_cache/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Logs
# =========================

*.log

# =========================
# Flutter
# =========================

frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
frontend/android/.gradle/
frontend/android/local.properties
frontend/ios/Flutter/ephemeral/
frontend/ios/Flutter/.last_build_id